# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT
# No whitespace after the comma or in your part name!
config SHIELD_WAFFY75_LEFT
    def_bool $(shields_list_contains,waffy75_left)

config SHIELD_WAFFY75_RIGHT
    def_bool $(shields_list_contains,waffy75_right)
    