if SHIELD_WAFFY75_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Waffy 75"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y
    
endif

if SHIELD_WAFFY75_LEFT || SHIELD_WAFFY75_RIGHT

config ZMK_SPLIT
    default y
    
config ZMK_STUDIO
    default y

endif
