if SHIELD_WAFFY75_LEFT

# Name must be less than 16 characters long!
config ZMK_WAFFY75
    default "Waffy 75"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_WAFFY75_LEFT || SHIELD_WAFFY75_RIGHT

config ZMK_SPLIT
    default y

endif
